        <header>
            <nav class="nav-break">
                <div class="logo">
                    <a href="/api/incident/list">
                        <img class="logo-img" src="/img/signac-high-resolution-logo-transparent.png">
                    </a>
                </div>
            </nav>
            <nav class="first-nav">
                <div class="logo">
                    <a href="/api/incident/list">
                        <img class="logo-img" src="/img/signac-high-resolution-logo-transparent.png">
                    </a>
                </div>
            </nav>
        </header>
